.todos-list{
    width: 50%;
    margin-left:31%!important;
    padding-top: 30px!important;
}

.task-Counter{
    padding:0px 7px;
    margin: 0px 10px 0px 0px;
    border: 2px solid var(--color);
    border-radius: 30px;
    
}

.task-Counter:hover{
    background-color: var(--background-color);
    color: #ffffff;
}

.todos-list ul{
  padding-top: 20px;
}

.todos-list ul li{
    border: none;
    border-bottom: 1px solid var(--color);
    padding-top: 20px;
    position: relative;
}

.remove-btn, 
.edit-btn{
    position: absolute;
    border: none;
    outline: none;
    color: var(--color);
    padding: 3px 7px;
    border-radius: var(--border-radius);
}

.remove-btn{
    right: 10px;
}

.edit-btn{
    right: 45px;
}

.remove-btn:hover,
.edit-btn:hover{
    opacity: .7;
    background-color: var(--background-color);
    color: #ffffff;
}