@import './assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');

body {
  margin: 0;
  font-family: 'Lato' ,'Zen Antique', sans-serif;
}

a{
  cursor: pointer;
}

:root{
  --background-color: rgb(173, 29, 53);
  --border-radius: 4px;
  --color:rgb(173, 29, 53);
}

.text-purple{
  color: rgb(154, 145, 161);
}

.themes{
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 1000;
}

.theme{
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin: 5px;
  cursor: pointer;
}

#blue-theme{
  background-color: rgb(28, 143, 137); 
}

#red-theme{
  background-color: rgb(173, 29, 53);
}

#green-theme{
  background-color: rgb(16, 150, 67);
}

#dark-theme{
  background-color: rgb(8, 44, 42);
}

#purple-theme{
  background-color: rgb(128, 0, 96);
}

.app-holder{
  width: 100%;
}

.navbar{
  width: 100%;
  background-color: var(--background-color);
  border-radius: 0px!important;
  z-index: 1000;
}

a{
  text-decoration: none!important;
}

.navbar a{
  color: #ffffff!important;
}

li{
  list-style-type: none;
}

.header-form{
  margin: 0px;
  margin-left: 7px;
}

.header-form input{
  border-radius: var(--border-radius);
  opacity: .8;
  padding: 4px;
  padding-left: 10px;
  width: 400px;
  border: none;
  outline: none;
}

.header-form input:hover{
  opacity: 1;
  border: none;
  outline: none;
}

.header-form input:focus{
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
  border: none;
}

.header-form i{
  position: relative;
  right: 28px;
  top: 9px;
  color: var(--background-color);
}

.navbar-bar,
.navbar-home,
.navbar-plus ,
.navbar-bell{
  font-size: 20px;
  font-weight: 600;
  z-index: 10;
}

.navbar ul li{
  padding: 2px;
  background-color: inherit;
  border-radius: var(--border-radius);
}

.navbar ul li:hover{
  background-color: rgba(255, 255, 255, .1);
}

.main{
  width: 82%;
  height: 664px;
  float: right;
}

.side-bar{
  width: 18%;
  height: 720px;
  float: left;
  position: fixed;
}

.nav-tooltip{
  position: relative;
}

.tooltip-text{
  visibility: hidden;
  position: absolute;
  width: max-content;
  font-size: 13px;
  background-color: rgb(163, 163, 163);
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  z-index: 1;
  top: 30px;
  right: -90%;
}

.user-email-tooltip{
  right: 0 !important;
}

.nav-tooltip:hover .tooltip-text{
  visibility: visible;
}

.side-menu  i{
  color: var(--color);
}

.side-menu section{
  border-radius: var(--border-radius);
  width: 100%;
}

.side-menu section:hover{
  background-color: #ffffff;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar-options{
  padding: 30px;
  display:flex;
}

.side-bar-options i{
  font-size: 25px;
  margin: 0 11px;
  color: var(--color);
}

.side-bar-options .tooltip-text{
  top: -25px;
}

.username{
  padding-top: 2px;
  font-weight: 700;
} 

/* dark mode styles  */

.side-bar-bg-dark{
  background-color: rgb(197, 197, 197);
}
.side-bar-bg-dark ul section:hover{
  background-color: rgb(219, 219, 219);
}
.content-bg-dark{
  background-color: rgb(219, 219, 219);
}
.content-bg-light{
  background-color: #ffffff;
}
.h-712{
  height: 712px;
}

/* make tha app responsive */

@media screen and (max-width: 480px) {
  .main{
      width: 74%;
  }    
  .side-bar{
      width: 26%;
  }
  .side-menu ul{
      padding-left:15px!important;
  }
  .theme{
      height: 15px;
      width: 15px;
      margin: 3px;
  }
  .header-form input{
      width: 200px;
  }

}

@media screen and (max-width: 660px) {
  .side-menu ul{
      padding-left:15px!important;
  }
  .main{
      width: 78%;
  }    
  .side-bar{
      width: 22%;
  }
  .theme{
      height: 15px;
      width: 15px;
      margin: 3px;
  }
  
}

@media screen and (min-width: 750px) and (max-width: 950px) {
  .side-menu ul{
      padding-left:15px!important;
  }
} 