@import './assets/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');

body {
  margin: 0;
  font-family: 'Lato' ,'Zen Antique', sans-serif;
  height: 100%;
}

html{
  height: 100% !important;
}

#root{
  height: 100% !important;
}

/* .todolist-app {
  height: 100% !important;
} */

/* .app-holder{
  width: 100%;
  height: 100% !important;
} */

a{
  cursor: pointer;
}

:root{
  --background-color: rgb(173, 29, 53);
  --border-radius: 4px;
  --color:rgb(173, 29, 53);
}

.text-purple{
  color: rgb(154, 145, 161);
}

.themes{
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 1000;
}

.theme{
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin: 5px;
  cursor: pointer;
}

#blue-theme{
  background-color: rgb(28, 143, 137); 
}

#red-theme{
  background-color: rgb(173, 29, 53);
}

#green-theme{
  background-color: rgb(16, 150, 67);
}

#purple-theme{
  background-color: rgb(128, 0, 96);
}

.navbar{
  width: 100%;
  background-color: var(--background-color);
  border-radius: 0px!important;
  z-index: 1000;
}

a{
  text-decoration: none!important;
}

.navbar a{
  color: #ffffff!important;
}

li{
  list-style-type: none;
}



.navbar-bar,
.navbar-home,
.navbar-plus ,
.navbar-bell{
  font-size: 20px;
  font-weight: 600;
  z-index: 10;
}

.navbar ul li{
  padding: 2px;
  background-color: inherit;
  border-radius: var(--border-radius);
}

.navbar ul li:hover{
  background-color: rgba(255, 255, 255, .1);
}

.main{
  width: 82%;
  height: 100% !important;
  float: right;
}

.side-bar{
  width: 18%;
  height: 100%;
  float: left;
  position: fixed;
  clear: both;
  background-color: rgb(207, 207, 207);
}

.nav-tooltip{
  position: relative;
}

.tooltip-text{
  visibility: hidden;
  position: absolute;
  width: max-content;
  font-size: 13px;
  background-color: rgb(163, 163, 163);
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  z-index: 1;
  top: 30px;
  right: -90%;
}

.user-email-tooltip{
  right: 0 !important;
}

.nav-tooltip:hover .tooltip-text{
  visibility: visible;
}

.side-menu  i{
  color: var(--color);
}

.side-menu section{
  border-radius: var(--border-radius);
  width: 100%;
}

.side-menu section:hover{
  background-color: #ffffff;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar-options{
  padding: 30px;
  display:flex;
  flex-direction:column;
}

.side-bar-options i{
  font-size: 25px;
  margin: 10px 11px;
  color: var(--color);
}

.music-options{
  display: flex;
}

.side-bar-options .tooltip-text{
  top: -25px;
}

.username{
  padding-top: 2px;
  font-weight: 700;
} 

/* dark mode styles  */

.side-bar-bg-dark{
  background-color: rgb(161, 161, 161);
}
.side-bar-bg-dark ul section:hover{
  background-color: rgb(219, 219, 219);
}
.content-bg-dark{
  background-color: rgb(219, 219, 219);
}
.content-bg-light{
  background-color: #ffffff;
}
.h-712{
  height: 712px;
}

/* make tha app responsive */

@media screen and (max-width: 480px) {
  .main{
    width: 74%;
  }    
  .side-bar{
    width: 70px !important;
  }
  .side-menu ul{
    padding-left:15px!important;
  }
  .theme{
    height: 15px;
    width: 15px;
    margin: 3px;
  }
  .header-form input{
    width: 200px;
  }
  .side-bar-options i{
    font-size: 22px;
    margin: 5px 5px;
  }
  .side-bar-options{
    padding-left: 20px;
  }
  .music-options{
    flex-direction: column;
  }

  /* side bar for mobile show  */
  .side-menu ul li span{
    display: none !important;
  }
  .side-menu ul li i{
    font-size: 24px;
  }
  .side-bar-options{
    margin-bottom:50px;
  }

  /* header mobile show  */
  .header-form{
    display: none;
  }

  /* todo card mobile show  */
  .list-group-item .task-text{
    padding-top: 45px;
    font-size: 20px;
  }

  /* board (list/card) mobile show  */
  .board-sidebar-hide{
    margin-right: 70px !important;
  }
}

@media screen and (max-width: 660px) {
  .side-menu ul{
    padding-left:15px!important;
  }
  .main{
    width: 78%;
  }    
  .side-bar{
    width: 22%;
  }

  .theme{
    height: 15px;
    width: 15px;
    margin: 3px;
  }
  
  .side-bar-options i{
    font-size: 22px;
    margin: 5px 5px;
  }
  
  .music-options{
    flex-direction: column;
  }
  
}

@media screen and (min-width: 750px) and (max-width: 950px) {
  .side-menu ul{
    padding-left:15px!important;
  }
  
  .side-bar-options i{
    font-size: 23px;
    margin: 7px 7px;
  }
  
  .music-options{
    flex-direction: column;
  }
} 

@media screen and (min-width:1400px){
  .side-bar-options{
    flex-direction:row;
  }

  .music-options{
    flex-direction: row;
  }
}